<nav class="panel users-window-settings is-fixed">
  <p class="panel-heading center">
    Usuários
  </p>
  <p class="panel-tabs">
    <a class="is-active">Todos</a>
    <a>Amigos</a>
    <a>Encontrar</a>
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    Smeagol
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    Hobbit
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    Passolargo
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    Gandalf
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    Legolas
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    Anão Sinistroso
  </a>
</nav>