<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-brand">

    <!--Nav bar toggle-->
    <div class="navbar-burger burger" data-target="navbarBody">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!--Right corner of the menu-->
  <div id="navbarBody" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-info">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
