<div class="columns is-multiline">
  <div class="column is-3">
    <div class="card">
      <a [routerLink]="['profileedition']">
        <span class="icon edit is-hand">
          <i class="far fa-edit"></i>
        </span>
      </a>
      <div class="center box-padding">
        <div class="media">
          <figure class="image image-max center-content">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png" alt="Placeholder image">
          </figure>
        </div>

        <div class="center-content leveling">
          <label class="label no-selection is-medium">SieShow</label>
          <label class="has-text-grey no-selection">Here is BATATA as lak q oais c ma sa qoiwe asld j</label>
        </div>

        <div class="center-content leveling">
          <label class="has-text-grey no-selection">lucasgsm88@gmail.com</label>
        </div>

        <div class="center-content leveling">
          <label class="label no-selection">1</label>
          <progress class="progress" value="30" max="100">30%</progress>
        </div>
      </div>
    </div>

  </div>
  <div class="column is-9">
    <div class="columns is-multiline is-centered">
      <div class="column is-12">
        <div class="card">
          <div class="card-content">

            <nav class="level">

              <div class="level-item has-text-centered">
                <div class="no-selection">
                  <p class="heading">Time Played</p>
                  <p class="title">3,456</p>
                </div>
              </div>

              <div class="level-item has-text-centered">
                <div class="no-selection">
                  <p class="heading">Campains</p>
                  <p class="title">123</p>
                </div>
              </div>

              <div class="level-item has-text-centered">
                <div class="no-selection">
                  <p class="heading">Custom Classes</p>
                  <p class="title">789</p>
                </div>
              </div>

              <div class="level-item has-text-centered">
                <div class="no-selection">
                  <p class="heading">Custom Itens</p>
                  <p class="title">789</p>
                </div>
              </div>

              <div class="level-item has-text-centered">
                <div class="no-selection">
                  <p class="heading">Custom Monsters</p>
                  <p class="title">789</p>
                </div>
              </div>

            </nav>

          </div>
        </div>
      </div>
      <div class="column is-12">

        <div class="card">
          <div class="card-content">
            <a [routerLink]="['conquests']">
              <span class="edit is-hand">
                See all
              </span>
            </a>
            <label class="conquest-title">
              Conquests
            </label>
            <div class="achiev-container">
              <div class="tooltip">
                <figure class="image achievement-demo">
                  <span class="tooltiptext">CONQUEST DESCRIPTION</span>
                  <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086702__340.png" alt="">
                </figure>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="column is-12">
        <div class="card">
          <div class="card-content">
            <label class="conquest-title">
              Public campains
            </label>
            <ro1-campain></ro1-campain>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
