.leveling {
  padding-top: 20px;
}

.achiev-container {
  padding: 10px;
}

.conquest-title {
  padding: 2px 10px;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}

.edit{
  right: 5px;
  top: 5px;
  position: absolute;
}
