<div class="columns">

  <div class="column is-half">
    <rpg-campains></rpg-campains>
  </div>

  <div class="column is-half">
    <div class="card is-hand height-110" [routerLink]="['/play']">
      <div class="card-content">
        <div class="content center">
          <a class="center-content">PLAY</a>
        </div>
      </div>
    </div>

    <div class="card m-t-30 is-hand">
      <div class="card-content height-110">
        <div class="content">
          <a href="">CUSTOMS</a>
        </div>
      </div>
    </div>

    <div class="card top-30p is-hand">
      <div class="card-content height-110">
        <div class="content">
          <a href="">RPG THEMES</a>
        </div>
      </div>
    </div>

  </div>
</div>
