.box-item {
  margin: 5px;
  label {
    margin-right: 150px;
  }
  button,
  .box-buttons {
    margin-left: 6px;
    float: right;
  }
}

.reward {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(29, 29, 29, 0.333);
  color: white;
  height: 20px;
  margin: 2px;
  font-size: 13px;
  padding: 0 3px;
  cursor: pointer;
}
