<ro1-modal [id]="id" height="579px" width="300px" name="Add Players">

  <div class="control m-b-20">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Filter by name">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>

  <div class="control max-height">
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
    <ro1-player [isForAdd]="true"></ro1-player>
  </div>
</ro1-modal>
