<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="column is-5 is-offset-4">
        <div class="box shadowed">
          <div class="has-text-centered">
            <p class="subtitle has-text-grey">Wellcome back</p>
          </div>
          <form [formGroup]="userForm" novalidate>
            <div class="column">
              <div class="field">
                <div class="control field-label is-small">
                  <label class="has-text-grey label is-small">EMAIL</label>
                </div>
                <div class="control">
                  <input formControlName="email" class="input" [class.is-danger]="isEmailValid()" type="email">
                </div>
                <p *ngIf="isEmailValid() || emailExists()" class="help is-danger">{{emailMessage}}</p>
              </div>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="has-text-grey label is-small">PASSWORD</label>
                </div>
                <div class="control">
                  <input formControlName="password" [class.is-danger]="isPasswordValid()" class="input" type="password">
                </div>
                <p *ngIf="isPasswordValid()" class="help is-danger">{{passwordMessage}}</p>
              </div>

              <div class="field is-grouped">

                <div class="control">
                  <label>Or with:</label>
                </div>

                <p class="control hover">
                  <span class="icon">
                    <i class="fa fa-google "></i>
                  </span>
                </p>

              </div>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="is-small">
                    <a [routerLink]="['/recover']">Forgot your password ?</a>
                  </label>
                </div>
              </div>

              <button (click)="login(userForm.value)" class="button is-block is-link is-fullwidth">Login</button>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="is-small">Need an account?
                    <a [routerLink]="['']">Register</a>
                  </label>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
