<div class="achievement center" [class.locked]="!achieved">
  <figure class="image tooltip-achiev">
    <span class="tooltiptext-achiev">
      <div class="center tooltip-padding">
        <p class="center-content">DESCRIPTION</p>
        <div class="center-content tooltip-bar">
          <p class="center-content">50%</p>
          <progress class="progress is-primary is-small" value="50" max="100"></progress>
        </div>
      </div>
    </span>
    <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086702__340.png" alt="">
  </figure>
  <p class="center-content achiev-name">
    Name
  </p>
</div>
