<div class="card top-30">
  <div class="card-content">

    <div class="columns is-multiline">

      <div class="column is-10">

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input type="text" class="input">
          </div>
        </div>

      </div>

      <div class="column is-2">

        <div class="field">
          <div class="image-upload">
            <label for="file-input">
              <figure class="image img-container">
                <img class="is-rounded img-small" src="https://bulma.io/images/placeholders/16x16.png" alt="Placeholder image">
                <i class="fa fa-upload"></i>
              </figure>
            </label>

            <input id="file-input" type="file" />
          </div>
        </div>

      </div>

      <div class="column is-12">
        <div class="field">
          <label class="label"> Description</label>
          <div class="control">
            <textarea class="textarea is-medium" type="text" rows="7"></textarea>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="field">
          <label class="label">Theme</label>
          <div class="control has-text-centered">
            <button class="button is-dark w-300">Choose one</button>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="field">
          <label class="label">Tag</label>
          <div class="control">
            <input type="text" class="input">
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="group-header">
          <label class="label group-title">Players</label>
          <button class="group-button is-small button is-dark w-100">Add</button>
        </div>
        <div class="box h-150">
          <ro1-player></ro1-player>
          <ro1-player></ro1-player>
        </div>
      </div>

      <div class="column is-6">
        <div class="group-header">
          <label class="label group-title">Add Custons</label>
        </div>
        <div class="box h-150">

          <div class="box-item">
            <label>Classes</label>
            <button class="button is-small">Add</button>
          </div>

          <div class="box-item">
            <label>Itens</label>
            <button class="button is-small">Add</button>
          </div>

          <div class="box-item">
            <label>Monsters</label>
            <button class="button is-small">Add</button>
          </div>

        </div>
      </div>

      <div class="column is-6">
        <div class="group-header">
          <label class="label group-title">Maps</label>
          <button class="group-button is-small button is-dark w-100">Add</button>
        </div>
        <div class="box h-150">

        </div>
      </div>

      <div class="column is-6">
        <div class="group-header">
          <label class="label group-title">Quests</label>
          <button class="group-button is-small button is-dark w-100">Create</button>
        </div>
        <div class="box h-150">

        </div>
      </div>

      <div class="column is-2">
        <label class="checkbox">
          <input type="checkbox"> is private
        </label>
        <label class="checkbox">
          <input type="checkbox"> has forum
        </label>
        <label class="checkbox">
          <input type="checkbox"> can have spectors
        </label>
      </div>

      <div class="column is-3 is-offset-9">
        <button class="button m-5 is-danger w-100">Cancel</button>
        <button class="button m-5 is-success w-100">Create</button>
      </div>
    </div>

  </div>
</div>
