<ro1-modal id="{{id}}" width="600px" name="Custom Class">


  <div class="control m-b-10">
    <div class="select w-500">
      <select class="w-500" (change)="selectValueHandle($event)">
        <option value="{{clas.name}}" *ngFor="let clas of classes">{{clas.name}}</option>
      </select>
    </div>
  </div>

  <div class="control m-b-10">
    <div class="content">
      <h4>Description</h4>
      <div class="max-181 clearfix">
        <p>
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </figure>{{selectedClass.description}}
        </p>
      </div>
    </div>
  </div>

  <div class="control flex">

    <div class="info">
      <label class="label">Classes</label>
      <div class="box">
        <ul>
          <li *ngFor="let hability of selectedClass.primaryHability">{{hability}}</li>
        </ul>
      </div>
    </div>

    <div class="info">
      <label class="label">Races</label>
      <div class="box">
        <ul>
          <li *ngFor="let weapons of selectedClass.weaponsProficience">{{weapons}}</li>
        </ul>
      </div>
    </div>

  </div>

</ro1-modal>
