<rpg-modal id="{{id}}" width="90%" name="Custom Class" isActive="true" saveValue="Save">

  <div class="columns">

    <div class="column is-8 overflow">
      <rpg-card-class (click)="setSelected(clazz)" *ngFor="let clazz of classes" [clazz]="clazz"></rpg-card-class>
    </div>

    <div class="column is-4 overflow">
      <div class="control m-b-10">
        <div class="content">
          <h4>Description</h4>
          <div class="max-181 clearfix">
            <p>
              <figure class="img-max-height">
                <img *ngIf="selectedClass.img_url === undefined" src="https://bulma.io/images/placeholders/128x128.png">
                <img *ngIf="selectedClass.img_url !== undefined" src="{{selectedClass.img_url}}">
              </figure>{{selectedClass.description}}
            </p>
          </div>
        </div>
      </div>

      <div class="control m-b-10 detail">
        <strong>Hit die:</strong>{{selectedClass.lifeDice}}
        <br>
        <strong>Primary Habilities:</strong>{{selectedClass.primaryHabilities | commaSeparation}}
        <br>
        <strong>Resistence Proficience:</strong>{{selectedClass.resistenceProficience | commaSeparation}}
        <br>
        <strong>Weapons Proficience:</strong>{{selectedClass.weaponsProficience | commaSeparation}}
        <br>
        <strong>Armo Proficience:</strong>{{selectedClass.armosProficience | commaSeparation}}
      </div>

    </div>

  </div>

</rpg-modal>
