<aside class="menu menu-size is-fixed">
  <ul class="menu-list">
    <li>
      <a class="padding-left16">
        <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class=".padding-left14">
        <i class="fa fa-dice" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class=".padding-left14">
        <i class="fa fa-paint-brush" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class=".padding-left14">
        <i class="fa fa-search-plus" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class=".padding-left14">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class=".padding-left14">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</aside>