<div class="tabs is-medium" id="tabs">
  <ul>
    <li class="is-active" data-tab="1">
      <a>My Games</a>
    </li>
    <li data-tab="2">
      <a>Find</a>
    </li>
  </ul>
</div>

<div id="tab-content">
  <div data-content="1" class="is-active">

    <p class="control has-icons-left">
      <input class="input is-medium" type="text" placeholder="Filter your campains">
      <span class="icon is-large is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
    <nav class="games">
      <ro1-campain></ro1-campain>
      <ro1-campain></ro1-campain>
    </nav>
  </div>

  <div data-content="2">
    <input class="input" placeholder="Join public campains by the name or id">
  </div>
</div>
