$paddingExpand: 20px;

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.nav-spacing {
  padding: $paddingExpand $paddingExpand $paddingExpand 5px;
}

.adjust-img {
  width: 48px;
  height: 48px;
  min-width: 48px;
  max-width: 48px;
}
