.field-padding {
  padding-right: 4px;
}

.border {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: flex;
  width: 100%;
  p {
    justify-self: center;
    align-self: center;
  }
}
