<div class="card">
  <div class="card-content">
    <div class="content">

      <div class="columns is-mobile">

        <!--Campain name-->
        <div class="column is-6">
          <p class="has-text-grey is-size-6"> CAMPAIN_NAME</p>
        </div>

        <!--Number of users-->
        <div class="column is-2">
          <span class="icon">
            <i class="fa fa-user"></i>
            <p class="has-text-grey is-size-6">10000</p>
          </span>
        </div>

        <!--Time played-->
        <div class="column is-2">
          <span class="icon">
            <i class="fa fa-user"></i>
            <p class="has-text-grey is-size-6 field-padding">10000</p>
          </span>
        </div>

        <!--Online/Offline-->
        <div class="column is-2">
          <div class="border">
            <p class="has-text-grey is-size-6 field-padding">Online</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
