<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="column is-5 is-offset-4">
        <div class="box shadowed">
          <div class="has-text-centered">
            <p class="subtitle has-text-grey">Create an account</p>
          </div>
          <form [formGroup]="userForm" novalidate>
            <div class="column">
              <div class="field">
                <div class="control field-label is-small">
                  <label class="has-text-grey label is-small">EMAIL</label>
                </div>
                <div class="control">
                  <!--class="is-danger"-->
                  <input formControlName="email" class="input" [class.is-danger]="!userForm.controls.email.valid && userForm.controls.email.touched" required type="text">
                </div>
                <!--
                  To invalid on email
                  <p class="help is-danger">This email is invalid</p>
                -->
              </div>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="has-text-grey label is-small">USERNAME</label>
                </div>
                <div class="control">
                  <input formControlName="username" class="input" required type="text">
                </div>
                <!--<p class="help is-danger">This username is invalid</p>-->
              </div>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="has-text-grey label is-small">PASSWORD</label>
                </div>
                <div class="control">
                  <input formControlName="password" class="input" required type="password">
                </div>
                <!--<p class="help is-danger">This passowrd is invalid</p>-->
              </div>

              <button (click)="registerUser(userForm.value)" class="button is-block is-link is-fullwidth" [disabled]="!userForm.valid" >Register</button>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="is-small">
                    <a [routerLink]="['/login']">Already have an account?</a>
                  </label>
                </div>
              </div>

              <div class="field">
                <div class="control field-label is-small">
                  <label class="is-small">By signing up you agree to our
                    <a href="#">Privacy Policy</a> and
                    <a href="#">Terms of Use</a>
                  </label>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
