<div class="field is-grouped box-item">

  <div class="control">
    <label>Defeat Azeroth</label>
  </div>

  <div class="control center">
    <div class="tags has-addons center-content">
      <span class="tag is-dark">exp</span>
      <span class="tag is-info">100k</span>
    </div>
  </div>

  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">itens</span>
      <span class="tag is-success">no</span>
    </div>
  </div>

  <div class="box-buttons">
    <a class="button is-small" title="view">
      <span class="icon  is-small">
        <i class="far fa-edit"></i>
      </span>
    </a>
    <button class="button is-small" title="remove">X</button>
  </div>

</div>
