<div class="box-item">
  <label>Callango</label>
  <div class="item-buttons">
    <div *ngIf="!isForAdd" class="select is-small">
      <select>
        <option>Role</option>
        <option>Master</option>
        <option>Admin</option>
        <option>Player</option>
        <option>Spector</option>
      </select>
    </div>
    <button *ngIf="!isForAdd" class="button is-small" title="remove">X</button>
    <button *ngIf="isForAdd" class="button is-small" title="remove">add</button>
  </div>
</div>
